body{
  font-weight: 400;
  background: url(../images/bg-desktop.svg)   no-repeat ;
  background-color: hsl(257, 40%, 49%);
  height: 89vh;
}

.header{
  
  padding: 25px 35px;
  margin: 20px;
  align-items: center;
}

.header .logo{
  height: 58px;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 50px;
}

.image{
  padding: 20px 0 0 35px;
  margin: 30px; 
}
 

.item{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: #fff;
  text-align: left;
  margin-bottom: 75px;
}

.item h2{
  padding: 12px;
  font-size: 40px;
  font-weight: 700;
  max-width: 500px;
  margin-top: auto;


}

.item p{
  justify-content: flex-start; 
  padding: 16px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
}

.btn-register{
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  font-size: 20px;
  padding: 15px 60px;
  border-radius: 30px;
  margin: 10px;
  transition: 0.3s
} 
 
.item .btn-register:hover {
 background-color:hsl(300, 69%, 71%) ;
 box-shadow: 0 5px 15px hsl(0, 0%, 22%);
}

.social{
  Display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 35px;
  
}

.social a{
  margin: 20px;
  transition: 0.3s;
  
}

.social a:hover{
  color:hsl(300, 69%, 71%)
}